*{
    background-color: #000000;
}
.paraintro{
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif; 
   
}
.courses-container {
    text-align: center;
    margin: 20px;
  }
  .horizontal-line-container {
    display: flex;
    align-items: center;
  
  }
  .horizontal-line {
    border: 0;
    height: 5px;
    background: #563cb9;
    width: 42%; 
  }
 #para {
    margin: 0 10px;
    color: #563cb9;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif; 
    list-style: none;
  }
 #para1 {
    margin: 0 10px;
    margin-left: -1px;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif; 
    color: white;
    text-decoration: none;
    list-style: none;
 }
  .bold-text {
    font-weight: bold;
    
  }
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  h2{
    background-color: white;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif; 
    margin-left: 10px; 
    color:#8463fc ;
  }

.card {
    position: relative;
    width: 315px;
    margin: 10px;
    border: 1px solid black;
    border-radius:20px;
    overflow: hidden;
    box-shadow: 0 4px 8px black ;
    background-color: #fff;
  }
  p {
  background-color: white;
    color: #6a6464; 
    margin-top: 10px; 
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
    line-height: 1.8;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left; 
  }

  .card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    background-color: white;
  }

  .card-content {
    position: relative;
    padding: 16px;
    text-align: center;
    background-color: white;
  }
  
  .btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background-color: #563cb9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
button:hover {
    
    background-color: #2980b9;
  }
  
  
  @media (max-width: 600px) {
    .card {
      height: 250px; 
    }
  }
  @media (max-width: 600px) {
    .card {
      height: auto; 
      margin-bottom: 20px; 
    }
  
    .card img {
      height: 150px; 
    }
  
    .card-content {
      padding: 12px; 
    }
  
    h2 {
      font-size: 1.1rem; 
    }
  
    p {
      font-size: 14px; 
    }
  
    .btn {
      padding: 6px 12px; 
    }
  }
  @media (max-width: 600px) {
  .courses-container {
    margin: 10px; 
  }

  .horizontal-line-container {
    flex-direction: column; 
  }

  .horizontal-line {
    width: 100%; 
    margin: 10px 0; 
  }}